.events__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-top: 24px;
}
.events__header__leftSide{
    display: flex;

}

.events__header__leftSide h3 {
    font-size: 28px;

}
.btnSeeAll{
    color: var(--color-btn-blue);
    border: none;
    background-color: white;
    font-weight: bold;
}
.btnSeeAll:hover{
    cursor: pointer;
    text-decoration: underline; 
}
.btnEvents{
    width: 239px;
    background-color: #97CAD11F;
    border: none;
    color: var(--color-btn-blue);
    margin-left: 8px;
    padding-left: 12px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.btnEvents{
    color: #16a5b8;
    cursor: pointer;

}
.btnEvents img{
    margin-left: 8px;
}


@media (max-width: 576px) {
    .btnSeeAll{
        display: none;
    }

.events__header__leftSide{
    width: 80%;
    white-space: nowrape;
    align-items: center;
    gap: 4px;

}
.events__header__leftSide h3 {
    font-size: 22px;

}
.events__header{
    margin-bottom: 17px;

}
}
